@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="col-md-12" @*style="min-height: 450px;"*@>
    <h1 class="tTitle" @*style="margin-bottom: 15px;"*@>Mercury ProSports Technical Support</h1>
    <p class="para">ProSports is a cloud based management solution for sport leagues and teams.
         Our software solutions allow League Managers, Team Managers, Coaches and Parents all the ability to communicate more efficiently and effectively.
     We also offer a customizable registration platform that will streamline your organization registration process.
    We give you the ability to remotely schedule events including event descriptions, schedule arrival times, locations and opponents for your matches in one easy to use software.
     Our product allows you to communicate with your team members via text, email or by a private online forum. <br />
    In addition, your League Manager or Team Manager can send out bulk emails to entire teams with the click of just one button. 
     In addition, there will be no more delays on getting your game scores on your site with our easy to use software
    If you are tired of having a turnover in your sporting organization due to the heavy workload to organize and communicate to your members, we are here to help you.
    Users can customize their sites with team logos, colors and if you want you can link in social media profiles or websies.
    We provide technical support on all of our products seven days a week.</p>
</div>